:root {
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 84.5rem;
    margin-inline: auto;
}

h2.secondary__hdl {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

.main__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
    height: 4.375rem;
}

.main__nav .title__hdl {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #08A6E4;
    font-size: 2rem;
    margin-left: 10%;
}

.main__nav .menu__items--box {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.main__nav .menu__items {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
}

.main__nav .menu__items:last-child {
    margin-right: 10%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component__reset {
    margin: 0;
}

.hero .hero__hdl {
    font-size: 3.0625rem;
    margin-top: 8.125rem;
}

.hero .hero__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.25rem;
}

.hero .hero__btn {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: white;
    display: block;
    max-width: 27.5rem;
    width: 100%;
    text-align: center;
    margin-top: 2.375rem;
    max-height: 4.1875rem;
    height: 100%;
    background-color: #08A6E4;
    border-radius: 46rem;
}

.hero .hero__img {
    width: 100%;
    overflow: hidden;
}

.stats__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 33.1875rem;
    padding-bottom: 7.761875rem;
    text-align: center;
}

.stats__box .stats__hdl {
    margin-top: 6.25rem;
}
.stats__box .stats__data {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6.3125rem;
}

.stats__box .stats__data__item {
    position: relative;
}

.stats__box .stats__img__box {
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    position: relative;
    left: 30%;
}

.stats__box .stats__img--red {
    background-color: #FB3B64;
}
.stats__box .stats__img--blue {
    background-color: #08A6E4;
}
.stats__box .stats__img--green {
    background-color: #55DFB4;
}

.stats__img__box .stats__img__item--person {
    position: absolute;
    left: 1.9375rem;
    top: 0.1875rem;
}

.stats__img__box .stats__img__item--eye {
    position: absolute;
    left: 1.3125rem;
    top: 0.875rem;
}

.stats__img__box .stats__img__item--catalog {
    position: absolute;
    left: 1.875rem;
    top: 0.4375rem;
}

.stats__data__item .stats__numbers {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    letter-spacing: 6px;
}
.stats__data__item .stats__desc {
    color: #A5A5A5;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

.benefits__box {
    background-color: #F7F7F7;
    padding-top: 7.526%;
    padding-bottom: 7.526%;
}

.benefits__box .benefits__element {
    width: 69.127%;
    height: 23.125rem;
    background-color: white;
    margin-inline: auto;
    border: 1px solid #E8E9ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 105px;
}

.benefits__element__hdl {
    margin-bottom: 1.875rem;
    font-size: 2.25rem;
    width: 60%;
}
.benefits__element__p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}

span.benefits__element__text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span::after {
    border-bottom: 4px solid #FB3B64;
}

.benefits__element__text:first-child {
    margin-left: 2.25rem;
}

.benefits__element__text:nth-child(2) {
    margin-right: 2.25rem;
}

.benefits__box .benefits__element .benefits__element__img {

}

.benefits__element--last {
    display: flex;
    justify-content: center;
    margin-top: 105px;
}

.benefits__box .benefits__element--noImg {
    width: 38.317%;
    height: 23.25rem;
    display: flex;
    background-color: #fff;
    border: 1px solid #E8E9ED;
    margin-right: 25px;
}

.benefits__element--last .benefits__element__text{
    width: 74%;
}

.benefits__element--last .benefits__element__hdl{
    width: 100%;
}

.benefits__box .benefits__img__wrapper {
    width: 27.06%;
    height: 23.25rem;
    background-color: #55DFB4;
    margin-left: 25px;
}

img[src$="Macbook.png"] {
    width: 24.1525rem;
    height: 13.6875rem;
    transform: rotate(-45deg);
    position: relative;
    top: 6.3125rem;
    right: 8.5rem;
}

img[src$="iPhone.png"] {
    width: 26.625rem;
    height: 20.5rem;
    position: relative;
    top: 20px;
}

img[src$="Trumpet.png"] {
    width: 67.211%;
    height: 56.14%;
}

.shape--circle {
    max-width: 20rem;
    height: 86.486%;
    background-color: #07ACE6;
    border-radius: 50%;
    margin-left: 20px;
}

.shape--diamond {
    width: 200px;
    height: 200px;
    background-color: #FB3B64;
    border-radius: 2.5625rem;
    transform: rotate(45deg);
    margin-right: 50px;
}