:root {
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1352px;
    margin-inline: auto;
}

h2.secondary__hdl {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

.main__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
    height: 4.375rem;
}

.main__nav .title__hdl {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #08A6E4;
    font-size: 2rem;
    margin-left: 10%;
}

.main__nav .menu__items--box {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.main__nav .menu__items {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
}

.main__nav .menu__items:last-child {
    margin-right: 10%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component__reset {
    margin: 0;
}

.hero .hero__hdl {
    font-size: 3.0625rem;
    margin-top: 8.125rem;
}

.hero .hero__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.25rem;
}

.hero .hero__btn {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: white;
    display: block;
    max-width: 27.5rem;
    width: 100%;
    text-align: center;
    margin-top: 2.375rem;
    max-height: 4.1875rem;
    height: 100%;
    background-color: #08A6E4;
    border-radius: 46rem;
}

.hero .hero__img {
    width: 100%;
    overflow: hidden;
}

.stats__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 33.1875rem;
    height: 100%;
    text-align: center;
}

.stats__box .stats__hdl {
    margin-top: 6.25rem;
}
.stats__box .stats__data {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6.3125rem;
}

.stats__box .stats__data__item {
    position: relative;
}

.stats__box .stats__img__box {
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    position: relative;
    left: 30%;
}

.stats__box .stats__img--red {
    background-color: #FB3B64;
}
.stats__box .stats__img--blue {
    background-color: #08A6E4;
}
.stats__box .stats__img--green {
    background-color: #55DFB4;
}

.stats__img__box .stats__img__item--person {
    position: absolute;
    left: 1.9375rem;
    top: 0.1875rem;
}

.stats__img__box .stats__img__item--eye {
    position: absolute;
    left: 1.3125rem;
    top: 0.875rem;
}

.stats__img__box .stats__img__item--catalog {
    position: absolute;
    left: 1.875rem;
    top: 0.4375rem;
}

.stats__data__item .stats__numbers {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    letter-spacing: 6px;
}
.stats__data__item .stats__desc {
    color: #A5A5A5;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}
